body{
    background-image: url('https://d39l2hkdp2esp1.cloudfront.net/img/photo/141882/141882_00_2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.table{
    max-width:958px;
    width:100%;
    margin:auto;
    opacity:0.7;
    margin-bottom: 2rem;
}
 @media screen and (max-width: 600px) {  
    .table{
        font-size:10px;
        width:80%;
    }
}
/* @media screen and (max-width: 400px){
    .table{
        max-width:100px;
        width:70%;
    }
}  */

/* @media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

     
    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    

    tr { border: 1px solid #ccc; }

    td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }

    td:before { 
       
        position: absolute;
      
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    } */

.allcurrencyForm_th{
    font-family: 'Noto Sans KR', sans-serif;
}
.flex{
    display:flex;
    justify-content: flex-end;
    /* float:right; */
    text-indent: 10px;
}
.textSwitch{
    font-family: 'Noto Sans KR', sans-serif;
}
/* Select */
.selectForm{
    background-color: #3d59738c;
    color: #fff;
    order: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
}
.selectForm:hover{
    cursor:pointer;
    border: 1px solid blue;
}
.option{
    font-family: 'Noto Sans KR', sans-serif;
}

