body{
   background-image:linear-gradient(to top, rgba(216, 218, 240, 0.80),
    rgba(205, 203, 223, 0.30)), url('https://d39l2hkdp2esp1.cloudfront.net/img/photo/141882/141882_00_2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.table{
    width:958px;
    margin:auto;
    opacity:0.7;
   
}

.allcurrencyForm_th{
    font-family: 'Noto Sans KR', sans-serif;
}
.flex{
    display:flex;
    justify-content: flex-end;
    text-indent: 10px;
}
.textSwitch{
    font-family: 'Noto Sans KR', sans-serif;
}
/* Select */
.selectForm{
    background-color: #3d59738c;
    color: #fff;
    order: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
   
}
.selectForm:hover{
    cursor:pointer;
    border: 1px solid blue;
}
.option{
    font-family: 'Noto Sans KR', sans-serif;
}
