body{
   background-image: url('https://d39l2hkdp2esp1.cloudfront.net/img/photo/141882/141882_00_2x.jpg');
   background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* width: 100%;
    height: 200vh; */
}
.table{
    width:958px;
    margin:auto;
    opacity:0.7;
    margin-bottom: 2rem;
   
}

.allcurrencyForm_th{
    font-family: 'Noto Sans KR', sans-serif;
}
.flex{
    display:flex;
    justify-content: flex-end;
    text-indent: 10px;
}
.textSwitch{
    font-family: 'Noto Sans KR', sans-serif;
}
/* Select */
.selectForm{
    background-color: #3d59738c;
    color: #fff;
    order: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
   
}
.selectForm:hover{
    cursor:pointer;
    border: 1px solid blue;
}
.option{
    font-family: 'Noto Sans KR', sans-serif;
}
