.flex{
    display:flex;
    justify-content: flex-end;
    text-indent: 10px;
}
.textSwitch{
    font-family: 'Noto Sans KR', sans-serif;
}
.accordion{
    width:958px;
    margin:auto;
    opacity:0.7;
}
.button-flex{
    display:flex;
/*justify-content: space-around;*/
}
.button_sub{
    margin:4px;
}