.Nav{
    width: 100%;
    }
    .text_logo{
        color:LightSalmon !important;
        font-family: 'Noto Sans KR', sans-serif;
    }
    .childrenNav{
        font-family: 'Noto Sans KR', sans-serif;
        text-decoration: none;
    }
    .text_children{
        padding: 9px 53px;
    }
    /* Footer */
    .footer {
        background-color: #343a40;
        height: 8vh;
        margin-top: 16px;
    }
    .flexFooter{
        display: flex;
        justify-content: space-evenly;
        padding-top: 10px;
    }
    .flexFooter a {
        text-decoration: none;
    }
  
    .iconFooter:active {
        transform: translateY(5px);
    }
    .icon-facebook{
        font-size: 2rem;
    }
    .icon-github{
        font-size: 2rem;
    }
    .icon-telegram{
        font-size: 2rem;
    }
    .icon-google{
        font-size: 2rem; 
    }
  
    
   